#main{
	background-color: red;
	margin: 0 120px 0 120px;
}
#personalDetails{
	margin: 60px 120px 0 120px ;
	padding: 20px;
	background-color: lightgreen;
}
#addressDetails{
	margin: 60px 120px 0 120px ;
	padding: 20px;
	background-color: lightgreen;
}
.name{
	width:120px;
	margin:10px 20px;
}
.postcode{
	width:14px;
	height:15px;
	border-radius: 5px;
	margin-right:1px; 
	margin-left:2px;
}
#mobile{
	width: 140px;
	margin: 10px;
}
#tel{
	margin:10px;
	width: 140px;

}
#email{
	margin: 10px;
	width: 140px;
}
#dob{
	margin:10px;
	width: 140px;
}
textarea{
	display: block;
	resize: none;
}
.select{
	margin:15px;
}


