body {
    font-family: Roboto, Arial, sans-serif;
}

header {
    padding: 25px 0;
}

ul {
    list-style-type: none;
    display: inline;
}

footer {
    margin-top: 50px;
    margin-bottom: 25px;
}
