body {
    font-family: Roboto, Arial, sans-serif;
}

header {
    padding: 25px 0;
}

.navbar,
.nav-pills li a {
    border-radius: 0;
}

.affix {
    top: 20px;
    z-index: 9999;
}

footer {
    color: #9d9d9d;
    margin: 25px 0 0;
    padding: 20px 0;
    background-color: #222;
    border-color: #080808;
}

footer a,
footer a:hover,
footer a:visited,
footer a:focus,
footer a:active {
    color: white;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
}
